.top-menu {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 15px;
}

.hero-area {
    position: relative;
    max-width: 420px;
    margin: 10px auto 0;
    padding: 10px;
}

.runner-visual {
    width: 100%;
    max-width: 360px;
    display: block;
    margin: auto;
}

.menu-btn{
    display:inline-block;

    background:white;
    text-decoration:none;
    color:#333;

    font-size:1.2rem;
    font-weight:bold;

    padding:12px 26px;

    border-radius:40px;
    box-shadow:0 4px 12px rgba(0,0,0,.15);

    transition:.2s;
}

.menu-btn:hover{
    transform:scale(1.05);
}
